include ../section-header/section-header.pug
include ../list/list.pug
- var education = [{ title: 'Master Degree',durationStart: 'Feb 2011',durationEnd: 'Jul 2014', subtitle: 'Univercity Name', details: 'some text Lorem'}]
.education
  + section-header('Education', 'section-header__icon--education')
  + list(education)