.list-item {
  padding-left: 8.2rem;
  position: relative;

  @include respond(narrow-phone) {
    padding-left: 6rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }

  &::before {
    display: table;
    content: '';
    position: absolute;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    background-color: $default-font-color;
    left: 0;
    top: 0;
    margin-top: .7rem;
    margin-left: 1.8rem;

    @include respond(narrow-phone) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__row {
    display: flex;
    margin-bottom: .4rem;

    @include respond(narrow-phone) {
      align-items: center;
    }
  }

  &__title {
    margin-right: 2.6rem;
    text-transform: uppercase;
    font-size: 3.94rem;
    font-family: 'Myriad Pro Bold';

    &--blue {
      color: $main-color;
    }
  }

  &__lines {

    @include respond(narrow-phone) {
      display: none;
    }
  }

  &__duration {
    display: flex;
    font-size: 3.94rem;

    @include respond(narrow-phone) {
      font-size: 3rem;
      text-transform: uppercase;
    }
  }

  &__duration-start {
    margin-left: .9rem;
    margin-right: .9rem;

    @include respond(narrow-phone) {
      margin-right: 2rem;
    }
  }

  &__duration-dash {
    display: none;
  }

  &__duration-end {
    margin-left: .9rem;
  }

  &__subtitle {
    font-size: 3.948rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
  }
}