*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  
  @include respond(mid-desktop) {
    font-size: 41.666666667%;
  }

  @include respond(tab-land) {
    font-size: 29.296875%;
  }

  @include respond(phone) {
    font-size: 25%;
  }

  overflow-y: overlay;
}

body {
  box-sizing: border-box;
}