.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 11.7rem;
  width: 90.2%;
  max-width: 1736px;
}

.column--left {
  width: 38.6%;
}

.column--right {
  width: 56.2%;
}

.page__header {
  margin-bottom: 11.3rem;
}

.page__section {
  margin-bottom: 6.8rem;
}

.column--right .page__section:last-child {
  margin-bottom: 14.78rem;
}

// for pixel-perfect
.experience.page__section {
  margin-bottom: 7.8rem;
}

.contact.page__section {
  margin-bottom: 7.3rem;
}

.education.page__section {
  margin-bottom: 7.2rem;
}

.experience.page__section {
  margin-bottom: 7.4rem;
}