@font-face {
  font-family: 'Myriad Pro';
  src: url('./fonts/Myriad_Pro.eot');
  src:  url('./fonts/Myriad_Pro.woff') format('woff'),
    url('./fonts/Myriad_Pro.ttf') format('truetype'), 
    url('./fonts/Myriad_Pro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Myriad Pro';
  font-size: $default-font-size;
  font-color: $default-font-color;
}