@font-face {
  font-family: 'Myriad Pro';
  src: url('./fonts/MyriadProRegular.eot');
  src:  url('./fonts/MyriadProRegular.woff') format('woff'), 
    url('./fonts/MyriadProRegular.ttf') format('truetype'), 
    url('./fonts/MyriadProRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('./fonts/MyriadProBold.eot');
  src:  url('./fonts/MyriadProBold.woff') format('woff'), 
    url('./fonts/MyriadProBold.ttf') format('truetype'), 
    url('./fonts/MyriadProBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro - Light Semi Ext';
  src: url('./fonts/Myriad-Pro-Light-SemiExtended_31641.eot');
  src: url('./fonts/Myriad-Pro-Light-SemiExtended_31641.woff') format('woff'), 
    url('./fonts/Myriad-Pro-Light-SemiExtended_31641.ttf') format('truetype'), 
    url('./fonts/Myriad-Pro-Light-SemiExtended_31641.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Myriad Pro';
  font-size: $default-font-size;
  color: $default-font-color;
  line-height: 1.225;

  @include respond(tab-land) {
    font-size: $default-font-size-tab;
  }
}