//colors
$blue-color: #3d6cb0;
$black-color: #000000;
$default-font-color: $black-color;
$main-color: $blue-color;

//fonts
$default-font-size: 1.6rem;
$l-font: 4.1rem;
$xl-font: 6.15rem;
$m-font: 2.55rem;