include ../section-header/section-header.pug
include ../skill-block/skill-block.pug

.skills.page__section
  + section-header('skills')
  .skills__list
    + skill-block('Creative', 9)
    + skill-block('Teamwork', 11)
    + skill-block('Innovate', 6)
    + skill-block('Communication', 11)