.page-header {
  padding-top: 2.2rem;
  margin-bottom: 7.3rem;

  &__logo {
    display: block;
    background-color: $main-color;
    border-radius: 50%;
    border: 2.2rem solid white;
    box-shadow: 0 0 0 1px $main-color;
    height: 35.84rem;
    margin: 0 auto 4.5rem;
    width: 35.84rem;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;

    &--light {
      font-family: 'Myriad Pro - Light Semi Ext';
      font-weight: normal;
      font-size: 8.3rem;
    }

    &--bold {
      font-size: $xl-font;
      margin-top: -2.8rem;
      font-family: 'Myriad Pro Bold';
    }
  }

  &__subtitle {
    font-size: 3.87rem;
    letter-spacing: .05rem;
    margin-top: -.8rem;
    padding-top: .2rem;
    text-align: center;
    text-transform: uppercase;
  }
}