include ../section-header/section-header.pug

.contact.page__section
  + section-header('contact')
  .contact__list
    .contact__row
      .contact__title Address
      .contact__text Main Street, City.
    .contact__row
      .contact__title e-mail
      .contact__text contact@domain.com
    .contact__row
      .contact__title Phone
      .contact__text 555-555-555
    .contact__row
      .contact__title Website
      .contact__text www.yourwebsite.com
