.section-header {
  display: flex;

  align-items: center;
  border: thin solid green;
  margin-bottom: 1.5rem;

  &__icon {
    width: 11.07rem;
    height: 11.07rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: thin solid green;

    &--profile {
      width: 11.45rem;
      background-image: url('./components/section-header/images/PROFILE_ICON.png');
    }
  }

  &__title {
    color: $main-color;
    font-size: $l-font;
    font-family: 'Myriad Pro Bold';
    color: red;
    text-transform: uppercase;
    margin: 0 1.3rem -.9rem 1.3rem;
  }

  &__line {
    height: .7rem;
    flex-grow: 1;
    background-color: red;
  }
}