.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &__icon {
    width: 7.15rem;
    height: 7.15rem;
    background-position: center;
    background-size: contain;

    &--profile {
      width: 7.4rem;
      background-image: url('./components/section-header/images/PROFILE_ICON.png');
    }
  }

  &__title {
    color: $main-color;
    font-size: $l-font;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 .8rem -.9rem 1rem;
    letter-spacing: .2rem;
  }

  &__line {
    height: .55rem;
    flex-grow: 1;
    background-color: $main-color;
  }
}