.section-header {
  display: flex;

  align-items: center;
  margin-bottom: 1.9rem;

  @include respond(mid-desktop) {
    margin-bottom: 2.1rem;
  }

  //for pixel-perfect
  &--contact {
    margin-bottom: 2rem;
  }

  //for pixel-perfect
  &--experience {
    margin-bottom: 1.5rem;
  }

  &__icon {
    width: 11.07rem;;
    height: 11.07rem;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--profile {
      width: 11.45rem;
      background-image: url('./components/section-header/images/PROFILE_ICON.png');
    }

    &--contact {
      background-image: url('./components/section-header/images/CONTACT_ICON.png');
    }

    &--skills {
      background-image: url('./components/section-header/images/SKILLS_ICON.png');
    }

    &--education {
      width: 11.45rem;
      background-image: url('./components/section-header/images/EDUCATION_ICON.png');
    }

    &--experience {
      width: 11.84rem;
      height: 11.45rem;
      background-image: url('./components/section-header/images/EXPERIENCE_ICON.png');
    }

    &--software {
      width: 11.45rem;
      background-image: url('./components/section-header/images/SOFTWARE_ICON.png');
    }
  }

  &__title {
    color: $main-color;
    font-size: $l-font;
    font-family: 'Myriad Pro Bold';
    text-transform: uppercase;
    margin: 0 1.3rem -1rem 1.6rem;

      @include respond(narrow-phone) {
        margin-left: 2.9rem;
      }

    &--contact {
      margin: 0 1.3rem -.8rem 1.9rem; 

      @include respond(narrow-phone) {
        margin-left: 2.9rem;
      }
    }

    &--skills {
      margin: 0 1.8rem -.8rem 1.7rem;

      @include respond(narrow-phone) {
        margin-left: 2.9rem;
      }
    }

    &--education {
      margin: 0 1.3rem -.9rem 2.9rem;
    }

    &--experience {
      margin: 0 1.3rem -1.2rem 2.5rem;

      @include respond(narrow-phone) {
        margin-left: 2.9rem;
      }
    }

    &--software {
      margin: 0 2.5rem -1.7rem 2.8rem;

      @include respond(narrow-phone) {
        margin-left: 2.9rem;
      }
    }
  }

  &__line {
    height: .7rem;
    margin-top: -.2rem;
    flex-grow: 1;
    background-color: $main-color;

    @include respond(narrow-phone) {
      display: none;
    }

    &--contact {
      margin-top: -.4rem;
    }

    &--skills {
      margin-top: -.5rem;
    }

    &--experience {
      margin-top: 0;
    }    

    &--software {
      margin-top: 0;
      margin-bottom: -.3rem;
    }
  }
}