mixin section-header(title, classNameIcon, classNameTitle, classNameLine, classNameSection)
  - classNameIcon = classNameIcon || ''
  - classNameTitle = classNameTitle || '' 
  - classNameLine = classNameLine || ''
  - classNameSection = classNameSection || ''
  .section-header(class=classNameSection)
    .section-header__icon(class=classNameIcon)
    .section-header__title(class=classNameTitle)= title
    .section-header__line(class=classNameLine)


