include ../section-header/section-header.pug
include ../list/list.pug

- var experience = [{ title: 'Company Name', durationStart: 'Feb 2011', durationEnd: 'Jun 2014', subtitle: 'Your job here', details: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean commodo ligula eget color. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultriciec nec, pellentesque.' }, { title: 'Company Name', durationStart: 'Feb 2011', durationEnd: 'Jun 2014', subtitle: 'Your job here', details: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean commodo ligula eget color. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultriciec nec, pellentesque.' }, { title: 'Company Name', durationStart: 'Feb 2011', durationEnd: 'Jun 2014', subtitle: 'Your job here', details: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean commodo ligula eget color. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultriciec nec, pellentesque.' }]

.experience.page-section
  +section-header('Experience', 'section-header__icon--experience', 'section-header__title--right')
  +list(experience)
