.skill-block {
  margin-bottom: 3.4rem;

  &__title {
    text-align: center;
    font-size: $m-font;
    text-transform: uppercase;
    margin-bottom: 1rem;
    //for pixil perfect:
    margin-right: -.7rem;
    color: red;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__circle {
    width: 2.7rem;
    height: 2.7rem;
    background-color: yellow;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 1.55rem;
    }

    &--filled {
      background-color: red;
    }
  }
}