.skill-block {
  margin-bottom: 3.3rem;

  &__title {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
    //for pixil perfect:
    margin-right: -1rem;
  }

  &__row {
    background-color: yellowgreen;

    display: flex;
    justify-content: center;
  }

  &__circle {
    width: 2.7rem;
    height: 2.7rem;
    background-color: yellow;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 1.55rem;
    }

    &--filled {
      background-color: red;
    }
  }
}