.software {

  &__container {
    padding-left: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    @include respond(narrow-phone) {
      justify-content: center;
    }
  }
}