include ../section-header/section-header.pug
include ../soft/soft.pug

.software
  +section-header('Software', 'section-header__icon--software', 'section-header__title--right')
  .software__container
    +soft('Photoshop', 'soft__scale--photoshop')
    +soft('Dreamweaver', 'soft__scale--dreamweaver')
    +soft('Illustrator', 'soft__scale--illustrator')
    +soft('After Effects', 'soft__scale--after-effects')
    +soft('Indesign', 'soft__scale--indesign')
    +soft('HTML&CSS3', 'soft__scale--html-css3')
