doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    .container
      .column--left
        include components/page-header/page-header.pug
        include components/profile/profile.pug

      .column--right
        include components/education/education.pug
        include components/experience/experience.pug
        include components/software/software.pug
    